*{
  padding: 0;
  margin: 0;
}
#navbar{
  background-color: #49beb7;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 3px 50px;
}
#navbar ul{
  display: flex;
  list-style: none;
}
#navbar ul li{
margin: 20px;
}
#sidenav{
  height: 90vh;
  /* width: 300px; */
  background-color: #085f63;
}
.navitem{
  display: flex;
  width: 100%;
  border-bottom: 1px solid wheat;
  height: 10%;
  color: white;
  align-items: center;
  text-decoration: none;
  padding-left: 20px;
}
.navitem :hover{
background-color: white;
color: #085f63;
border-right: green;
}
.icon-container{
  margin-right: 15px;
}
#dashbord{
  display: grid;
  grid-template-columns: 20% 75%;
  background-color: #dedede;
}
#dashbord article{
  margin: 20px;
  background-color: white;
  padding: 20px;
}